body {
  margin: 0 auto;
  width: 85%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font: 30px "Arial", Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: rgb(0, 101, 141);
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.blog-section {
  background: black;
  padding: 10px;
  max-width: 50%;
}

.right-section {
  margin-left: 70px;
  background: rgb(187, 187, 247);
}

.right-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.right-thumbnail {
  height: 230px;
  width: 260px;
  object-fit: cover;
}

.right-content p {
  text-align: left;
  font-size: 17px;
  font-family: 'Merriweather', serif;
}

.right-content {
  border: solid black 5px;
  border-radius: 2px;
  height: 250px;
  width: 260px;
  background:rgb(53, 100, 153);
  margin-bottom: 70px;
}

.right-content a{
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
}
.right-content a:hover {
  text-decoration: underline;
}

.blog-content {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 700px;
  min-width: 550px;
  background: white;
}

.blog-content a{
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
}

.blog-content a:hover {
  text-decoration: underline;
}

.blog-title {
  text-align: center;
  font-size: 38px;
  font-family: 'Merriweather', serif;
  margin-bottom: 6px;
}

.blog-thumbnail {
  width: auto;
  max-height: 300px;
  max-width: 580px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-thumbnail image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.blog-text {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.blog-category {
  text-align: left;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

.blog-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog-info {
  text-align: right;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

