body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content {
  width: 85%;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #2c3e50;
  height: 75px;
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #1a252f;
}

.nav-bar h2 {
  position: absolute;
  margin-top: 4px;
  margin-left: 15px;
  color: white;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 40px;
  font-weight: 40;
}

.active_tab {
  text-shadow: 3px 3px 5px #000;
  border-top: 2px solid white;
  margin-top: -2px !important;
  transition: all 0.4s ease;
  /*
  border-top: 3px solid white;
  */
}

.nav-bar ul {
  display: inline-block;
  height: 100%;
  margin: 0 auto;
  list-style: none;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 80;
  font-size: 25px;
  /*
  float: center;
  */
}

.nav-bar .main-nav {
  margin-left: 200px;
}

.nav-bar .right-nav {
  float:right;
  /*
  background: orange !important;
  */
}

.nav-bar .right-nav ul {
  display:flex;
  flex-direction: row;
}
.nav-bar .right-nav ul li {
  padding-top: 15px;  
}
.nav-bar .right-nav ul li:last-child {
  padding-top: 15px;
  margin-right: 20px;
}

.nav-bar .right-nav ul li a p1{
  margin: 0 -10px -10px -10px;
  width: 135px;
  float: left;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
  text-decoration: none;
}

.nav-bar .main-nav ul li a p1 {
  margin: 0 -10px -10px -10px;
  width: 135px;
  float: left;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
  text-decoration: none;
}

.nav-bar .right-nav ul li a p1:hover {
  color: #18bc9c;
  /* border-bottom: 3px solid black; */
  margin-top: -3px;
  transition: all 0.4s ease;
}

.nav-bar .main-nav ul li{
  margin-top: 2px;
  margin-right: 20px;
  width: 135px;
  float: left;
  text-align: center;
  padding: 15px 0;
  color: white;
  transition: all 0.4s ease;
  /*
  background: plum;
  cursor: pointer;
  */
}

.nav-bar .main-nav ul li a{
  text-decoration: none;
  color: white;
}

.nav-bar .main-nav .search-container form {
  display: flex;
  flex-direction: row;
}

.nav-bar .main-nav .search-container:hover {
  margin-top: 0 !important;
  transition: none !important;
}

.nav-bar .main-nav .search-container button {
  float: right;
  margin-top: -5px;
  padding: 8px 10px;
  background: #ddd;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.nav-bar .main-nav .search-container button:hover {
  background: #ccc;
}

.nav-bar .main-nav ul li input[type=text] {
  font-size: 25px;
  font-family: 'Hammersmith One', sans-serif;
  margin-top: -5px;
  padding:5px;
  border-radius: 5px 0 0 5px;
  border: none;
}

.nav-bar .main-nav ul li a p1:last-child {
  margin-right: 0;
}

.nav-bar .main-nav ul li a p1:hover {
  color: #18bc9c;
  /* border-bottom: 3px solid black; */
  margin-top: -3px;
  transition: all 0.4s ease;
}

.nav-bar .main-nav ul li:hover .mega-menu {
  color: white;
}

.nav-bar .main-nav ul li .mega-menu p:hover {
  color: #18bc9c;
  transition: all 0.4s ease;
}

.header-banner {
  background: url('../images/sky.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
}

.header-banner h1 {
  text-align: center;
  position: relative;
  margin-top: 0%;
}

.mega-menu {
  position: absolute;
  top: 65px;
  left: 0;
  width: 80%;
  height: 220px;
  background: #2c3e50;
  transition: all 0.4s ease;
  padding: 10px 10px 0 10px;
  visibility: hidden;
  opacity: 0;
  z-index: 20;
}

.mega-menu h3 {
  text-align: left;
  font-size: 20px;
  position: relative;
  width: 100%;
  margin-top: 5px;
  margin-bottom: -10px;
  font-style: italic;
  font-weight: 20;
  text-shadow: none;
}

.inner-mega-menu {
  width: 24%;
  float: left;
  margin-left: 1%;
}

.inner-mega-menu:last child {
  margin-right: 0%;
}

.inner-mega-menu a {
  text-decoration: none;
  color: white;
}

.inner-mega-menu a p {
  padding: 2px 0;
  transition: all 0.4s ease;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 60;
  font-size: 18px;
  text-align: left;
}

.nav-bar ul li:hover .mega-menu {
  visibility: visible;
  opacity: 1;
}



h1 {
  font: 30px "Arial", Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: rgb(0, 101, 141);
}

.page-header {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /*
  border: solid black 2px;
  
  */
}

.page-header h1 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 38px;
  text-align: center;
  width: 70%;
  padding: 0 10px 0 10px;
}

.page-header-spacer {
  margin-left: 70px;
  max-width: 300px;
  min-width: 300px;
}

.page {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.right-section {
  margin-left: 70px;
  max-width: 300px;
  min-width: 200px;
  /* background: rgb(187, 187, 247); */
}

.right-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: -6px;
  font-weight: bold;
}

.right-thumbnail {
  border-radius: 5%;
  height: 230px;
  width: 100%;
  object-fit: cover;
  /* 
  margin-top: -15px;
  */
}

.right-content a {
  text-align: left;
  font-size: 17px;
  font-family: 'Merriweather', serif;
}

.right-content {
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: -5px;
  
  /*
  border: solid black 2px;
  border-radius: 3px;
  background:rgb(53, 100, 153);
  */
}

.right-content a{
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
}
.right-content a:hover {
  text-decoration: underline;
}

.blog-section {
  
  padding: 0 10px 0 10px;
  width: 70%;
  min-width: 400px;
  /*
  border: solid black 2px;
  background: plum;
  */
}

.blog-content {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
  max-width: 100%;
  min-width: 60%;
  background: white;
  border: solid 1px rgb(4, 0, 63);
}

.blog-content a{
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
  font-weight: bold;
}

.blog-content a:hover {
  text-decoration: underline;
}

.blog-title {
  text-align: center;
  font-size: 38px;
  font-family: 'Merriweather', serif;
  margin-bottom: 6px;
}

.blog-thumbnail {
  margin-top: 10px;
  width: auto;
  max-height: 400px;
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-thumbnail image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.blog-text {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.blog-category {
  text-align: left;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

.blog-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog-info {
  text-align: right;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

.center-form {
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 40%;
}
.center-errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  width: 25%;
}

.alerts {
  margin-left: 265px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 10px 20px 0;
}

.form-heading {
  
  width: 250px;
  text-align: right;
  padding-right: 20px;
  /*
  background-color: pink;
  */
}

.form-heading-input {
  font-size: 25px;
  font-family: 'Merriweather', serif;
}

.form-heading p {
  display: inline;
  text-align: right;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  vertical-align: top;
}

.form-content {
  /*
  background-color: plum;
  */
  width: 62%;
}

.form-content-inputs {
  font-size: 26px;
  font-family: 'Quicksand', sans-serif;
}


.display-buttons {
  display: flex;
  justify-content: flex;
  flex-direction: row;
}

.display-button input{
  padding: 10px 15px;
  color: white;
  background-color: #ccc;
  border: none;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.red {
  background-color: #a94442 !important;
}

.blue {
  background-color: #008CBA !important;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 10px;
  margin-bottom: 15px;
  width: 400px;
  border-radius: 5px;
}

.alert-success_msg {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 10px;
  margin-bottom: 15px;
  width: 400px;
  border-radius: 5px;
}

.page-author {
  width: 85%;
  margin: 0 auto;
}

.blog-section-author {
  
  padding: 0 10px 0 10px;
  width: 70%;
  min-width: 400px;
  margin: 0 auto;
  /*
  border: solid black 2px;
  background: plum;
  */
}


.page-author h1 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 40px;
  margin: 10px 0;
}
.author-banner {
  width: 100%;
  height: 500px;
  display: table;
  margin: auto;
  background: rgb(17, 24, 37);
}

.author-banner .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.display {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.display img {
  margin-top: 40px;
  border-radius: 50%;
  border: solid 10px white;
  width: 15%;
  height: auto;
}

.display h1 {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Hammersmith One', sans-serif;
  color: white;
  font-size: 400%;
}

.display .bio {
  width: 100%;
  height: auto;
  background: white;
  margin-bottom: 30px;
  border-radius: 25px;
  padding: 1px;
}

.display .bio p {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 25px;
}

@media only screen and (max-width: 1600px) {
  .nav-bar a h2 {
    display: none;
  }
.nav-bar .main-nav ul {
  margin-left: -210px;
  padding-left: 0;
}

.nav-bar .main-nav .search-container form input[type=text] {
  width: 130px;
}

.nav-bar .main-nav ul li {
  width: 100px;
}

}

@media only screen and (max-width: 1500px) {
  html {
    min-width: 930px !important;
  }

  .nav-bar a h2 {
    display: none;
  }

  .nav-bar .main-nav ul li {
    width: 100px;
  }

  .nav-bar .main-nav ul {
    margin-left: -230px;
    padding-left: 0px;
  }

  .nav-bar .main-nav .search-container form input[type=text] {
    width: 130px;
  }

  .nav-bar ul li {
    color: red !important;
    padding-left: 0 !important;
    padding-right: 5px !important;
  }

  .nav-bar .right-nav {
    margin-right: -30px;
  }

  .right-section {
    margin-right: -10px;
    margin-left: 0;
    width: 30%;
  }

  .page {
    margin-left: -10px;
    width: 100%;
    padding-left: 0;
  }

  .nav-bar {
    padding-right: 40px !important;
    width: 100%;
  }

}