body {
  margin: 0 auto;
  width: 85%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font: 30px "Arial", Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: rgb(0, 101, 141);
}

.blog-content {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 700px;
  min-width: 550px;
  background: rgb(221, 221, 221);
}

.blog-content a{
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
}

.blog-content a:hover {
  text-decoration: underline;
}

.blog-title {
  text-align: center;
  font-size: 38px;
  font-family: 'Merriweather', serif;
  margin-bottom: 6px;
}

.blog-thumbnail {
  width: auto;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-thumbnail image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.blog-text {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.blog-category {
  text-align: left;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

.blog-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog-info {
  text-align: right;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

