extends layout

block content
	.container
	nav.nav-bar
		a(href="#")
			h2 Blog Site
		ul
			li.active_tab Home
			li Articles
				.mega-menu
					.inner-mega-menu
						a(href="#")
							p Technology
						a(href="#")
							p Automotive
						a(href="#")
							p Business
						a(href="#")
							p Sports
					.inner-mega-menu
						a(href="#")
							p Category
						a(href="#")
							p Category
						a(href="#")
							p Category
						a(href="#")
							p Category
					.inner-mega-menu
						a(href="#")
							p Category
						a(href="#")
							p Category
						a(href="#")
							p Category
						a(href="#")
							p Category
			li Authors
			li About
			li
				.search-container
					form(name="search_bar", onsubmit="return search()", action='/search/', method="get")
						input(type="text" placeholder="Search.." name="search_input")
						button(type="submit")
							i(class="fa fa-search")


	.content
		h1 Add Article

		!= messages('message', locals)
		if errors
			each error, i in errors
				div(class="alert alert-danger") #{error.msg}

	form(name="add_blog_post", method="post")
		.form-container
			.form-heading
				p Title:
			.form-content
				input(class="form-heading-input" type="text", name="title" size="47")
		.form-container
			.form-heading
				p Thumbnail:
			.form-content
				input(class="form-heading-input" type="url", name="thumbnail" size="47")
		.form-container
			.form-heading
				p Content:
			.form-content
				textarea(class="blog-text" name="content", cols="72", rows="25")
		.form-container
			.form-heading
				p Tags:
			.form-content
				input(class="form-content-inputs" type="text", name="tags" size="54" placeholder="Seperate tags with commas (tag1, tag2)")
		.form-container
			.form-heading
				p Category:
			.form-content
				input(class="form-content-inputs" type="text", name="category" size="19")

		.form-container
			.form-heading
				p Author:
			.form-content
				input(class="form-content-inputs" type="text", name="author" size="19")
		//-.form-container
			.form-heading
				p Date:
			.form-content
				input(class="form-content-inputs" type="date", name="date")
		.actions
			input(type="submit", value="Submit")

	button(onclick='test()') TEST