extends layout

block content
	.content
		-if(user)
			h1 Edit Author Profile
			form(name="edit_profile", method="post")
				.form-container
					.form-heading
						p Author:
					.form-content
						input(class="form-heading-input" style="background:#ccc" type="text", name="author" size="47" readonly value=author.displayname)
				.form-container
					.form-heading
						p Profile Picture:
					.form-content
						input(class="form-heading-input" type="url", name="profile_picture" size="47" placeholder="Profile Picture URL (none = default)")
				.form-container
					.form-heading
						p Bio:
					.form-content
						textarea(class="blog-text" name="content", style="resize:none" cols="72", rows="4" required) !{author.bio}
				.form-container
					.form-heading
						p  
					.form-content
						.display-buttons
							.display-button
								input(class="blue" type="submit", value="Submit")
							.display-button
								input(class="red" type="submit", onclick="homepage()" value="Cancel")
		-else
			h1 Error
			.form-login-message
				p You do not have permission to edit this profile