doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href="https://fonts.googleapis.com/css?family=Quicksand|Merriweather|Hammersmith+One" rel="stylesheet")
    script
      include ../js/scripts.js 
  body
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}

  block content
