doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(href="https://fonts.googleapis.com/css?family=Quicksand|Merriweather|Hammersmith+One" rel="stylesheet")
	body

		nav.nav-bar
			a(href="/")
				h2 Blog Site
			.main-nav
				ul
					li
						a(href="/")
							p1 Home
					li
						a(href="javascript:void(0)")
							p1 Articles
								.mega-menu
									h3 Categories
									.inner-mega-menu
										a(href="/articles/Technology")
											p Technology
										a(href="/articles/Automotive")
											p Automotive
										a(href="/articles/Business")
											p Business
										a(href="/articles/Sports")
											p Sports
									.inner-mega-menu
										a(href="/articles/Travel")
											p Travel
										a(href="/articles/Economics")
											p Economics
										a(href="/articles/Politics")
											p Politics
										a(href="/articles/Science")
											p Science
									.inner-mega-menu
										a(href="/articles/Entertainment")
											p Entertainment
										a(href="/articles/Music")
											p Music 
										a(href="/articles/Gaming")
											p Gaming
										a(href="/articles/Other")
											p Other
					li
						a(href="/authors")
							p1 Authors
					//-li
						a(href="/about")
							p1 About
					li
						.search-container
							form(name="search_bar", onsubmit="return search()", action='/search/', method="get")
								input(type="text" placeholder="Search.." name="search_input")
								button(type="submit")
									i(class="fa fa-search")             
			.right-nav
				ul

					-if(user)
						li
							a(href="/articles/article_add")
								p1 Add Article
						li
							a(href="/users/logout")
								p1 Logout
					-else
						li
							a(href="/users/register")
								p1 Register
						li
							a(href="/users/login")
								p1 Login
		br
		br
		br
		br
		.container
			//-!= messages('message', locals)
			//-if errors
				each error, i in errors
					div(class="alert alert-danger") #{error.msg}

			block content
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")    
		script
			include ../js/scripts.js
		script
			include ../js/main.js 
