doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Quicksand|Merriweather|Hammersmith+One" rel="stylesheet")
  body
    block content