extends layout

block content
	.container
	.nav-bar
		a(href="/")
			h2 Blog Site
		ul
			li Home
			li Articles
				.mega-menu
					h3 Categories
					.inner-mega-menu
						a(href="/articles/Technology")
							p Technology
						a(href="/articles/Automotive")
							p Automotive
						a(href="/articles/Business")
							p Business
						a(href="/articles/Sports")
							p Sports
					.inner-mega-menu
						a(href="/articles/Travel")
							p Travel
						a(href="/articles/Economics")
							p Economics
						a(href="/articles/Politics")
							p Politics
						a(href="/articles/Science")
							p Science
					.inner-mega-menu
						a(href="/articles/Entertainment")
							p Entertainment
						a(href="/articles/Music")
							p Music 
						a(href="/articles/Gaming")
							p Gaming
						a(href="/articles/Other")
							p Other
			li Authors
			li About
			li
				.search-container
					form(name="search_bar", onsubmit="return search()", action='/search/', method="get")
						input(type="text" placeholder="Search.." name="search_input")
						button(type="submit")
							i(class="fa fa-search")

	.content
		h1 Register

		!= messages('message', locals)
		if errors
			each error, i in errors
				div(class="alert alert-danger") #{error.msg}
	.center-form
		form(name="register", method="POST", action='/users/register')
			.form-container
				.form-heading
					p First Name:
				.form-content
					input(class="form-heading-input" type="text", name="first_name" size="25")
			.form-container
				.form-heading
					p Last Name:
				.form-content
					input(class="form-heading-input" type="text", name="last_name" size="25")
			.form-container
				.form-heading
					p Email:
				.form-content
					input(class="form-heading-input" type="text", name="email" size="25")
			.form-container
				.form-heading
					p Username:
				.form-content
					input(class="form-heading-input" type="text", name="username" size="25")
			.form-container
				.form-heading
					p Password:
				.form-content
					input(class="form-heading-input" type="password", name="password" size="25")
			.form-container
				.form-heading
					p Confirm Password:
				.form-content
					input(class="form-heading-input" type="password", name="password2" size="25")
			.form-container
				.form-heading
					p 
				.form-content
					.display-buttons
						.display-button
							input(class="blue" type="submit", value="Submit")
						.display-button
							input(class="red" onclick="test()" type="button" value="Cancel")