extends layout

block content
	.container
	nav.nav-bar
		a(href="/")
			h2 Blog Site
		.main-nav
			ul
				li
					a(href="/")
						p1 Home
				li.active_tab
					a(href="javascript:void(0)")
						p1 Articles
							.mega-menu
								h3 Categories
								.inner-mega-menu
									a(href="/articles/Technology")
										p Technology
									a(href="/articles/Automotive")
										p Automotive
									a(href="/articles/Business")
										p Business
									a(href="/articles/Sports")
										p Sports
								.inner-mega-menu
									a(href="/articles/Travel")
										p Travel
									a(href="/articles/Economics")
										p Economics
									a(href="/articles/Politics")
										p Politics
									a(href="/articles/Science")
										p Science
								.inner-mega-menu
									a(href="/articles/Entertainment")
										p Entertainment
									a(href="/articles/Music")
										p Music 
									a(href="/articles/Gaming")
										p Gaming
									a(href="/articles/Other")
										p Other
				li
					a(href="/authors")
						p1 Authors
				li
					a(href="/about")
						p1 About
				li
					.search-container
						form(name="search_bar", onsubmit="return search()", action='/search/', method="get")
							input(type="text" placeholder="Search.." name="search_input")
							button(type="submit")
								i(class="fa fa-search")             
		.right-nav
			ul
				li
					a(href="/users/register")
						p1 Register
				li
					a(href="/users/login")
						p1 Login

	.page-header
		h1 Showing search results for '!{search_query}'
		.page-header-spacer
			p   

	.content
		h1= title
		p
			| Unfortunately the search '!{search_query}' has returned no articles. Plesae try again with a different query!