extends layout

block content
	.page-header
		h1 Showing search results for '!{search_query}'
		.page-header-spacer
			p   

	.content
		h1= title
		p
			| Unfortunately the search '!{search_query}' has returned no articles. Please try again with a different query!